h1, p {
    text-align: center;
}

.sites-preferidos {
    width: 30%;
    margin: 0 auto;
}

.sites-preferidos:hover {
    background-color: rgb(68, 199, 199);
}

.sites-preferidos:active {
    font-family: 'Arial', sans-serif;
}

ul, ol {
    list-style: none;
}